@import '../../styles/mixins';
@import '../../styles/variables';

.SignUp {
  height: $fullScreen;
  padding: 2rem;
  
  &__container {
    @include flexbox($d: column, $jc: center, $ai: center);
    width: 100%;
  }

  &__helpText {
    @include helpTextStyles;
  }

  &__input {
    @include inputStyles;
    margin-bottom: 1.5rem;
  }

  &__submitButton {
    @include gradientButton;
    margin-top: 2rem;
  }
}