@mixin flexbox($display: flex, $d: row, $jc: flex-start, $ai: flex-start) {
  display: $display;
  flex-direction: $d;
  justify-content: $jc;
  align-items: $ai;
}

@mixin buttonStyles($bgColor: red) {
  background-color: $bgColor;
  width: 100%;
  border-radius: 3px;
  border: 2px solid red;
}