@import './styles/mixins';
@import url('https://fonts.googleapis.com/css?family=Knewave');

.App {
  height: 100vh;
  width: 100vw;
  background: #322f30;


  &__nav {
    @include flexbox($jc: space-between, $ai: center);
    height: 6rem;
    background: #000;
    width: 100%;
  }

  &__logo {
    font-size: 2.2rem;
    background-image: linear-gradient(to right, #f1c40f, #e74c3c);
    -webkit-background-clip: text;
    color: transparent;
    font-family: 'Knewave', cursive;
  }

  &__signOutIcon {
    color: #fff;
    margin-right: .5rem;
  }

  &__backIcon {
    color: #fff;
    margin-left: .5rem;
  }
}
