@import '../../styles/mixins';
@import '../../styles/variables';

.Login {
  height: $fullScreen;

  &__signUp {
    margin: 4rem 2rem;
  }

  &__helpText {
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 2rem;
    color: #fff;
  }

  &__signUpButton {
    @include gradientButton;
  }
}